{% extends "base.html" %}
{%block navcolor%}{{color}}{%endblock%}
{% block content %}

<!--USUARIO Y FECHA DE CREACION-->
<div class="container mt-5">
    <h2 class="mb-4">{{ request.user.username }}</h2>
    <h5>Fecha de creación: {{ request.user.date_joined|date:"d/m/Y" }}</h5>
</div>
<!--DESCRIPCION-->
    <div class="container mt-5">
        <div class="card p-4" style="background-color: {{color}}; border-color: {{darker_color}};">
            <h3 class="mb-3">Descripción </h3>
            {% if user.descripcion %}
                <p>{{ user.descripcion }}</p>
            {% else %}
                <p>El usuario no tiene descripción.</p>
            {% endif %}
        </div>
            
    </div>
</div>
<!--FORMULARIO PARA CAMBIAR DESCRIPCION Y COLOR-->
<div class="container mt-5">
    <div class="card p-4" style="background-color: {{color}}; border-color: {{darker_color}};">
        <h5>Cambiar descripción 👇(esto solo lo ves vos, los demás usuarios que vean tu cuenta no van a ver este cuadro.)</h5>
        <form method="post">
            {% csrf_token %}
            {{ form.descripcion }}
            <br>
            <button type="submit" class="btn btn-success">Guardar cambios</button>
        </form>
    </div>
    <div class="container mt-5">
        <center>
            <div class="card p-4" style="background-color: {{color}}; border-color: {{darker_color}};">
                <h5>Cambiar color</h5>
                <br><br>
                <form method="post">
                    {% csrf_token %}
                        <div class="color-input">
                        {{ form.color }}
                        </div>
                    <br>
                    <button type="submit" class="btn btn-success">Guardar cambios</button>
                </form>
            </div>
        </center>
<br>
<!--BOTON PARA CERRAR SESION-->
<center >
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
    </form>
</center>
<br>
{% endblock %}